<app-navber></app-navber>
<div class="containerBox">
    <div class="text-box">
        <h1>E-commerce wesite</h1>
    </div>
    <img class="img-responsive" src="../assets/images/who.jpg"/>
</div>


     <section id="about">
        <div class="container">

            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">E-Commerce Website Definition</h2>
                <p class="text-center wow fadeInDown">Do you know what is E-commerce website?</p>
            </div>

            <div class="row">
			
                <div class="col-sm-6 wow fadeInRight">                  
                    <p>Trade, be it barter exchange or buying and selling of goods and services has been prevalent for centuries. No one can be self-sufficient. And this brings out the need for demand and supply of goods and services. Transactions have been going on all over the world for centuries, locally, and across locations. Keeping the same concept in mind, now think electronic.</p>

                </div>
			
                <div class="col-sm-6 wow fadeInLeft">                  
                     <img class="img-responsive" src="../assets/images/E-Commerce-Website-Definition.jpg">
                </div>

            </div>

            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown pt-3">What is E-Commerce?</h2>
                <p class="text-center wow fadeInDown"></p>
            </div>

            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">                  
                    <img class="img-responsive" src="../assets/images/What-is-E-Commerce.png">
               </div>

                <div class="col-sm-6 wow fadeInRight">                  
                    <p>E-Commerce, also known as e-Business, or electronic business, basically tis is simply the sale and purchase of services and goods over Internet which is an electronic medium. It also involves electronically transferring data and funds between two or more parties. Simply put, it is online shopping as we commonly know it.

                        E-Commerce started way back in the 1960s when organizations began to use Electronic Data Interchange (EDI) to transfer documents of their business back and forth. The 1990s saw the emergence of online shopping businesses, which is quite a phenomenon today. The first-ever online purchase was a Sting CD, sold by US retailer, NetMarket on 11 August 1994.
                        
                        It has become so convenient and easy, that anyone can shop for anything right from a living room, with just a few clicks. This has evolved more with the emergence of smartphones, where now, you can shop from anywhere and anytime, with a wireless device connected to the Internet. Now you can search for almost any product or service online, without having to go anywhere physically.
                        
                        “In 2020, eCommerce sales are expected to account for 15.5 percent of retail sales worldwide.”- Oberlo.in</p>

                </div>
			


            </div>


            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown pt-3">What is an E-Commerce website?</h2>
                <p class="text-center wow fadeInDown"></p>
            </div>

            <div class="row">


                <div class="col-sm-6 wow fadeInRight">                  
                    <p>E-Commerce websites are online portals that facilitate online transactions of goods and services through means of the transfer of information and funds over the Internet. In the early days, e-commerce was done partially through emails and phone calls. Now, with a single website, anything and everything that a transaction needs, can be executed online.</p>

                       <p><b>Types of E-Commerce websites</b></p> 
                       <p>Different eCommerce websites are labeled or referred to differently, based on the function they fulfill.</p> 
                        <ul>
                            <li>Business-to-Business (B2B): Electronic transactions of goods and services between companies. Example: A business sells SAS products to other businesses.</li>
                            <li>
                                Business-to-Consumer (B2C): Electronic transactions of goods and services between companies and consumers. Example: You buy a new t-shirt from an online store.
                            </li>
                            <li>
                                Consumer-to-Consumer (C2C): Electronic transactions of goods and services between consumers, mostly through a third party. Example: You sell your old smartphone on eBay or Olx to another consumer.
                            </li>
                            <li>
                                Consumer-to-Business (C2B): Electronic transactions of goods and services where individuals offer products or services to companies. Example: A Social media influencer offers exposure to their online audience in exchange for a fee.
                            </li>
                        </ul>
                        
                        
                        
                        

                </div>
                <div class="col-sm-6 wow fadeInLeft">                  
                    <img class="img-responsive" src="../assets/images/work-process/graphics.jpg">
               </div>


            </div>
        </div>
    </section><!--/#about-->

<app-common></app-common>
