<app-navber></app-navber>

   <div class="containerBox">
    <div class="text-box">
        <h1>About Us</h1>
    </div>
    <img class="img-responsive" src="../assets/images/who.jpg"/>
</div>


    <section id="about">
        <div class="container">

            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Who We Are ?</h2>
                <p class="text-center wow fadeInDown">Pretrendy Solution is a web designing and software development company that has established itself as a major player in this industry. We work with clients from all over the world. </p>
            </div>
		
            <div class="row">
			<div class="col-sm-12 wow fadeInRight">
			<div class="aboutus">
                    <h3 class="column-title">We Are Pretrendy Solution</h3>
					<h4>We pride ourselves as a firm dealing with ecommerce, SEO, Internet Marketing Services and more. Our target is to deliver solutions according to client’s idea and to invest in long term engagements.</h4>
                    <p>If you are in need of a web designing partner who will deliver you solutions within time, we are here for you. Our team consisting of dedicated professionals will deliver business solutions like SEO, ecommerce, software development and web design. SEO services will help to generate more traffic than you ever thought of. We also provide 24*7 support.</p>


                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="nostyle">
                                <li><i class="fa fa-check-square"></i> Captivating & Appealing Designs. </li>
                                <li><i class="fa fa-check-square"></i> Passionate & Hardworking Team. </li>
                            </ul>
                        </div>

                        <div class="col-sm-6">
                            <ul class="nostyle">
                                <li><i class="fa fa-check-square"></i> 24 x 7 Dedicated Support.</li>                               
                            </ul>
                        </div>
                    </div> 
                   </div>  					
                </div>
			
               

                
            </div>
        </div>
    </section><!--/#about-->

<app-common></app-common>