<app-navber></app-navber>
<div class="containerBox">
    <div class="text-box">
        <h1>Informational Website</h1>
    </div>
    <img class="img-responsive" src="../assets/images/who.jpg"/>
</div>


     <section id="about">
        <div class="container">

            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">What is Informational Website</h2>
                <p class="text-center wow fadeInDown">Do you know what?.</p>
            </div>

            <div class="row">
			
                <div class="col-sm-6 wow fadeInRight">                  
                    <p>Content and design-oriented websites provide information about a topic or business of interest and a pleasant experience. Informational websites help you to attract potential customers.
                        Once, if you had a website for business was just a small advantage for your company against competitors. But now, over 50% of potential customers don’t trust businesses without websites.
                        Different businesses benefit from different kinds of websites. What they all have in common is improving their credibility and luring people in.                       
                        So what is an informational website? Do you need to have one? And how do you build one to make it an instant success?</p>

                </div>
			
                <div class="col-sm-6 wow fadeInLeft">                  
                     <img class="img-responsive" src="../assets/images/work-process/graphics.jpg">
                </div>

            </div>


            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown pt-3">Informational website definition</h2>
                <p class="text-center wow fadeInDown">Know before you ask.</p>
            </div>

            <div class="row">
						
                <div class="col-sm-6 wow fadeInLeft">                  
                    <img class="img-responsive" src="../assets/images/work-process/graphics.jpg">
               </div>

                <div class="col-sm-6 wow fadeInRight">                  
                    <p>Wikipedia.org is an informational website. So is the website of your favorite coffee shop. And so is theverge.com.

                        All of these are different from each other, but perfectly fit under the definition of an informational website.
                        
                        An informational website is a site with a purpose to provide detailed information about a specific topic, such as science, economics, movies, etc.
                        
                        For businesses, however, the definition can be described a little differently.
                        
                        Businesses create websites that provide branded and customized information about the company and all related topics for customers, investors, and community members.
                        
                        It also acts as a sales tool to attract new clients and investors.
                        
                        A good informational website for business will catch a visitor’s attention in less than 5 seconds. That’s why good content and design play key roles for such websites.
                        
                        However, don’t mistake it for a functional website selling a product online.
                        
                        </p>

                </div>


            </div>

            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown pt-3">How do you realise that your company needs an informational website?</h2>
                <p class="text-center wow fadeInDown">Having a business without a website is like you are a civilian of a country and you don't having a government issued id card.</p>
            </div>

            <div class="row">
			
                <div class="col-sm-6 wow fadeInRight">                  
                    <p>Is an informational website good for your business? Well, let’s see how many boxes you can check:</p>
                        <ul>
                            <li>Your business has a physical location.</li>
                            <li>You are not selling a digital product.</li>
                            <li>The customers of your business aren’t looking to buy online.</li>
                            <li>Information about your business is important to making buying decisions.</li>
                            <li>You have a lot to show off for potential customers and investors.</li>
                        </ul>
                        
                       <p> If you’ve checked at least three of those boxes, your business would definitely benefit from having an informational website.
                        
                        Informational websites are the most useful to businesses with a physical location – restaurants, cafés, night clubs, and many others.
                        
                        The transaction for the services of such businesses (restaurants, cafes, night clubs) happens at the physical location and not online. Therefore, an informational website can make the most use of itself. Information provided on the website could help a lot of people make an educated purchasing decision at the physical location or reduce queues at the point of sale.
                        
                        Also, if you’ve won any awards, have a famous chef cooking in your kitchen, or an innovative product, this can lure customers in. Show it off.
                        
                        So, basically an informational website helps you to show off your company status and transparency to your clients that makes them known about your company and attract the audience.</p>

                </div>
			
                <div class="col-sm-6 wow fadeInLeft">                  
                     <img class="img-responsive" src="../assets/images/work-process/graphics.jpg">
                </div>

            </div>
        </div>
    </section><!--/#about-->
<app-common></app-common>