<app-navber></app-navber>
<div class="containerBox">
    <div class="text-box">
        <h1>Mobile App</h1>
    </div>
    <img class="img-responsive" src="../assets/images/who.jpg"/>
</div>


     <section id="about">
        <div class="container">

            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Mobile App Development</h2>
                <p class="text-center wow fadeInDown">We develop app with custom features for both IOS and Android.</p>
            </div>

            <div class="row">
			
                <div class="col-sm-6 wow fadeInRight"> 
<h3>IOS App development</h3>				
                    <p>IOS applications are considered to be lucrative source for business uplifting. Success can be achieved when the right app with right functionality is delivered at correct time. Smartly created IOS apps help to boost brand awareness. We develop app for all devices running on IOS. Our custom design IOS app will help to boost brand value among targeted clients. </p>
                    <p>
The team here consists of professionals experienced in Swift and best C and Objective-C coders. We use Autolayout to support in iPad. Our app for iPhone supports devices with all screen sizes from iPhone5 to iPhone X.
</p>

                </div>
			
                <div class="col-sm-6 wow fadeInLeft">                  
                   <img class="img-responsive" src="../assets/images/work-process/ios.jpg">
                </div>

            </div>
			<div class="divider"></div>
			 <div class="row">
			
                <div class="col-sm-6 wow fadeInRight"> 
	<h3>Android App development</h3>				
                    <p>When it comes to android app, these live in a multi-device world where intensive quality assurance testing comes with less strict API rules. We are expert in developing apps for android wearable and custom devices to simple phone and from Gingerbread to Oreo. With our well designed app you can access information and it will also increase credibility of your organization. </p>
				
                </div>
			
                <div class="col-sm-6 wow fadeInLeft">                  
                   <img class="img-responsive" src="../assets/images/work-process/android.jpg">
                </div>

            </div>
        </div>
    </section><!--/#about-->

<app-common></app-common>
