<app-navber></app-navber>

<div class="containerBox">
    <div class="text-box">
        <h1>Graphic Design</h1>
    </div>
    <img class="img-responsive" src="../assets/images/who.jpg"/>
</div>


     <section id="about">
        <div class="container">

            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Graphic Design Service</h2>
                <p class="text-center wow fadeInDown">We offer creative designs that are communicative and appealing.</p>
            </div>

            <div class="row">
			
                <div class="col-sm-6 wow fadeInRight">                  
                    <p>Attract customers while strengthening your brand with an attractive logo. We offer ideas in major formats e.g. .jpg/.psd/.png with unlimited revisions. Our team specializes in designing visiting cards, designing templates and other graphic materials which will help to improve viewer interaction.</p>

                </div>
			
                <div class="col-sm-6 wow fadeInLeft">                  
                     <img class="img-responsive" src="../assets/images/work-process/graphics.jpg">
                </div>

            </div>
        </div>
    </section><!--/#about-->
<app-common></app-common>