<router-outlet></router-outlet>
<footer id="footer">
  <div class="container">
      <div class="row">
          <div class="col-sm-6">
              &copy; 2019-2020 <a target="_blank" href="http://pretrendy.com" title="Pretrendy Solution">Pretrendy Solution</a>
          </div>
          <div class="col-sm-6">
              <ul class="social-icons">
                  <li><a href="https://www.facebook.com/Pretrendy-Solution-2414069008687088/?modal=admin_todo_tour"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
          </div>
      </div>
  </div>
</footer>